# Создано https://www.toptal.com/developers/gitignore/api/osx
# Редактировать на https://www.toptal.com/developers/gitignore?templates=osx

### ОС X ###
# Общий
.DS_Store
.AppleDouble
.LSOverride

# Иконка должна заканчиваться двумя \r
Значок


# Миниатюры
._*

# Файлы, которые могут появиться в корне тома
.DocumentRevisions-V100
.fseventsd
.Прожектор-V100
.Временные элементы
.Корзины
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Каталоги, потенциально созданные на удаленном общем ресурсе AFP
.AppleDB
.AppleDesktop
Папка сетевой корзины
Временные предметы
.apdisk

# Конец https://www.toptal.com/developers/gitignore/api/osx
